body {
	background:url(../images/grid.gif);
}

#container {
	background-color: #fff;
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

#cabecera_ppal {
	background-color: #fff;
	overflow: hidden;
	width: 100%;
}

#caja_logo {
	float: left;
	width: 30%;
}

#caja_logo img {
	max-width: 70%;
	display: block;
	margin: 0 auto;
	padding: 15px 0;
}

#caja_contactos {
	float: right;
	width: 70%;
}

#caja_contactos p {
	text-align: right;
	padding-right: 15px;
}

#botonera {
	background-color: #CCC;
	overflow: hidden;
	width: 100%;
}

#botonera li {
	float: left;
	list-style: none;
	text-align: center;
	width: 23%;
}

#hero {
	width: 100%;
}

#bloques {
	background-color: #fff;
	overflow: hidden;
	padding-top: 75px;
	width: 100%;
}

#bloques article {
	float: left;
	width: 33.33333333333333%;
}

.parrafos_bloq {
	padding: 3%;
	text-align: justify;
}

.encab_bloq {
	text-align: center;
}

.img_bloq {
	 display: block;
	margin: 0 auto;
	max-width: 40%;
}

#titulo {
	background-color: #fff;
	padding-top: 75px;
}

#titulo h1 {
	text-align: center;
}

#pie_pagina {
	padding-top: 75px;
}

#pie_pagina h2,p {
	text-align: center;
}

